* {
    margin: 0rem;
    padding: 0rem;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    
}
:root {
    --corfundo:#23A4F2;
    --corbutton:#50B7F5;
    --contornobutton: #80CBF7;
    --backgroundcolor: #EFF8FE;
}

body {
    background-image: url(imagens/backgroundlogin.png);
}

article {
    display: flex;
    justify-content: center;
}

#container {
    width: 36%;
    height: 70%;
    position: absolute;
    margin-top: 140px;
    background-color: var(--backgroundcolor);
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow:  5px 5px 15px #c1c1c1,
             -5px -5px 15px #c1c1c1;

}

img {
    width: 64px;
    position: relative;
}

h1 {
    font-weight: 900;
    position: relative;
    bottom: 54px;
    left: 80px;
    font-size: 25px;
}

h2 {
    font-size: 35px;
    font-weight: 900;
    position: relative;
    margin-left: 50px;
}

img:hover {
    cursor: pointer;
}

#nome {
    margin-left: 100px;
    width: 486px;
    margin-right: 100px;
    margin-top: 30px;
    height: 55px;
    border-radius: 5px 5px 5px 5px;
    font-weight: 900;
}

#email {
    margin-left: 100px;
    width: 486px;
    margin-right: 100px;
    margin-top: 30px;
    height: 55px;
    border-radius: 5px 5px 5px 5px;
    font-weight: 900;
}

#email:hover {
    border: 2px solid var(--corbutton);
    color: var(--corbutton);
}

#nome:hover {
    border: 2px solid var(--corbutton);
    color: var(--corbutton);
}

p {
    font-size: 13px;
    font-weight: 900;
    margin-left: 80px;
}

h3 {
    font-size: 23px;
    font-weight: 900;
    margin-left: 80px;
    margin-top: 40px;
}

#dia, #mes, #ano {
    width: 100px;
    height: 30px;
}

#dia {
    margin-left: 186px;
    margin-top: 40px;
}

#avancar01 {
    margin-left: 100px;
    margin-top: 60px;
    width: 500px;
    height: 40px;
    border-radius: 15px 15px 15px 15px;
    border: 0px solid transparent;
    background-color: var(--corbutton);
}

#avancar01:hover {
    cursor: pointer;

}